
/* style sheet for svg */
path, rect {
   opacity:1;
   fill: red;
   fill-opacity:1;
   fill-rule:nonzero;
   stroke: black;
   stroke-width:0.4;
   stroke-opacity:1
}

path:hover, rect:hover {
	fill: yellow;
}

#wall {
	fill-opacity: 0;
	stroke-width:0.7;
}